
<h1> {{poll_name}}</h1> <h4>Created by {{poll_author}}</h4>
<hr>

<h4>Your vote </h4>

<button *ngFor="let answer of poll_options" (click)="addVote(answer)"> {{answer.answer_name}}</button>;
<hr>


<div style="display: block">
  <canvas baseChart
          [data]="chartData"
          [labels]="chartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
</div>

<hr>
<h3 *ngFor="let item of poll_options">{{item.answer_name}} : {{item.answer_vote?.length}} votes <br>
 </h3>


 